//=============================================================================
// Manifest
//=============================================================================

1 24 "Manifest.xml"

//=============================================================================
// Menu icons
//=============================================================================

IDI_ARROW_LEFT_32       RCDATA "arrow_left_32.png"
IDI_ARROW_RIGHT_32      RCDATA "arrow_right_32.png"
IDI_HOME_32             RCDATA "home_32.png"
IDI_SAVE_32             RCDATA "save_32.png"
