//=============================================================================
// Manifest
//=============================================================================

1 24 "Manifest.xml"

//=============================================================================
// ToolBar icons
//=============================================================================

IDI_ARROW_LEFT_64       RCDATA "arrow_left_64.png"
IDI_ARROW_RIGHT_64      RCDATA "arrow_right_64.png"
IDI_HOME_64             RCDATA "home_64.png"
IDI_SAVE_64             RCDATA "save_64.png"
